<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>
    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="app">
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="receipt">
            <directory>./tests</directory>
            <exclude>./tests/ReceiptItems.php</exclude>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>./src</directory>
        </include>
        <report>
            <clover outputFile="clover.xml"/>
            <crap4j outputFile="crap4j.xml" threshold="50"/>
            <html outputDirectory="html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="coverage.php"/>
            <text outputFile="coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory="xml-coverage"/>
        </report>
    </coverage>
    <logging>
        <log type="coverage-html"
             target="tests/coverage/html"
             showUncoveredFiles="true"
             lowUpperBound="60"
             highLowerBound="95" />
        <log type="coverage-clover"
             target="tests/coverage/clover.xml"
             showUncoveredFiles="true" />
        <log type="coverage-php"
             target="tests/coverage/coverage.serialized"
             showUncoveredFiles="true" />
        <log type="coverage-text"
             target="php://stdout"
             showUncoveredFiles="true" />
        <log type="testdox-html" target="tests/coverage/testdox.html" />
        <log type="testdox-text" target="php://stdout" />
    </logging>
</phpunit>
